In [27]:
import geopandas as gpd
from sqlalchemy import create_engine

# Configurações de conexão com o banco de dados
db_user = "carlos_andre"
db_password = "carlos360360"
db_host = "localhost"
db_port = "5432"
db_name = "sead"
table_name = "lotes_teste"

# Cria a conexão com o banco de dados usando SQLAlchemy
conn = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

In [28]:
lotes_nucleo = gpd.read_postgis(f'SELECT * FROM "NUCLEOS"."lotes"', conn, geom_col='geom')
quadras_nucleo = gpd.read_postgis(f'SELECT * FROM "NUCLEOS"."quadras"', conn, geom_col='geom')

lotes_teste = gpd.read_postgis(f'SELECT * FROM "NUCLEOS"."lotes_teste"', conn, geom_col='geom')
lotes_teste

,id,geom,sei,nome area,quadra,lote,nome,cpf,dtnascimen,estcivil,...,contrato,matricula,tpo,cidade,area_m2,tipo,zona_utm,nucleo,edificacao,documento
0,1.0,"MULTIPOLYGON (((-42.81446 -5.0549, -42.81441 -...",None,NOSSA SENHORA DE NAZARÉ,D,D12,MARIA DO SOCORRO ALVES SOARES,28205533-97,None,None,...,None,None,LOTE,TERESINA,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None
1,2.0,"MULTIPOLYGON (((-42.81457 -5.05495, -42.81449 ...",None,NOSSA SENHORA DE NAZARÉ,D,D10,KARLA NAYARA DE SOUSA MATON,34425723-12,None,None,...,None,None,LOTE,TERESINA,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None
2,3.0,"MULTIPOLYGON (((-42.81468 -5.05501, -42.8146 -...",None,NOSSA SENHORA DE NAZARÉ,D,D8,RAQUEL DOS SANTOS SILVA,None,None,None,...,None,None,LOTE,TERESINA,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None
3,4.0,"MULTIPOLYGON (((-42.81494 -5.05517, -42.81491 ...",None,NOSSA SENHORA DE NAZARÉ,D,D2,JOSÉ VALDO VIEIRA DA SILVA,None,None,None,...,None,None,LOTE,TERESINA,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None
4,5.0,"MULTIPOLYGON (((-42.81427 -5.0548, -42.81425 -...",None,NOSSA SENHORA DE NAZARÉ,D,D13,LIDIANE ALVES SILVA,46812513-21,None,None,...,None,None,LOTE,TERESINA,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55452,55453.0,"MULTIPOLYGON (((-42.80971 -5.06785, -42.80966 ...",None,None,G,15,None,15292940372,None,None,...,000001000111,10251,None,TERESINA,127.353,LOTE,23.0,None,None,None
55453,55454.0,"MULTIPOLYGON (((-42.80796 -5.06778, -42.80798 ...",None,None,VERDE3,1,None,None,None,None,...,None,None,None,TERESINA,875.271,LOTE,23.0,None,None,None
55454,55455.0,"MULTIPOLYGON (((-42.8088 -5.06737, -42.80879 -...",None,None,VERDE2,1,None,None,None,None,...,None,None,None,TERESINA,779.693,LOTE,23.0,None,None,None
55455,55456.0,"MULTIPOLYGON (((-42.80955 -5.06756, -42.80929 ...",None,None,VERDE1,1,None,None,None,None,...,None,None,None,TERESINA,1438.754,LOTE,23.0,None,None,None
55456,55457.0,"MULTIPOLYGON (((-42.80812 -5.06818, -42.80817 ...",None,None,L,10,None,07864116353,None,None,...,000001010170,None,None,TERESINA,124.847,LOTE,23.0,None,None,None

In [24]:
camada = lotes_teste
# Adicionar as colunas FRENTE, FUNDO, DIREITA, ESQUERDA como vazias
camada['FRENTE'] = ''
camada['FUNDO'] =  ''
camada['DIREITA'] =  ''
camada['ESQUERDA'] =  ''

camada['FRENTE'] = camada['FRENTE'].astype("str").str.slice(0, 250)
camada['FUNDO'] = camada['FUNDO'].astype("str").str.slice(0, 250)
camada['DIREITA'] = camada['DIREITA'].astype("str").str.slice(0, 250)
camada['ESQUERDA'] = camada['ESQUERDA'].astype("str").str.slice(0, 250)

In [25]:
camada

,id,geom,sei,nome area,quadra,lote,nome,cpf,dtnascimen,estcivil,...,area_m2,tipo,zona_utm,nucleo,edificacao,documento,FRENTE,FUNDO,DIREITA,ESQUERDA
0,1.0,"MULTIPOLYGON (((-42.81446 -5.0549, -42.81441 -...",None,NOSSA SENHORA DE NAZARÉ,D,D12,MARIA DO SOCORRO ALVES SOARES,28205533-97,None,None,...,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None,,,,
1,2.0,"MULTIPOLYGON (((-42.81457 -5.05495, -42.81449 ...",None,NOSSA SENHORA DE NAZARÉ,D,D10,KARLA NAYARA DE SOUSA MATON,34425723-12,None,None,...,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None,,,,
2,3.0,"MULTIPOLYGON (((-42.81468 -5.05501, -42.8146 -...",None,NOSSA SENHORA DE NAZARÉ,D,D8,RAQUEL DOS SANTOS SILVA,None,None,None,...,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None,,,,
3,4.0,"MULTIPOLYGON (((-42.81494 -5.05517, -42.81491 ...",None,NOSSA SENHORA DE NAZARÉ,D,D2,JOSÉ VALDO VIEIRA DA SILVA,None,None,None,...,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None,,,,
4,5.0,"MULTIPOLYGON (((-42.81427 -5.0548, -42.81425 -...",None,NOSSA SENHORA DE NAZARÉ,D,D13,LIDIANE ALVES SILVA,46812513-21,None,None,...,NaN,LOTE,23.0,NOSSA SENHORA DE NAZARÉ,None,None,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55452,55453.0,"MULTIPOLYGON (((-42.80971 -5.06785, -42.80966 ...",None,None,G,15,None,15292940372,None,None,...,127.353,LOTE,23.0,None,None,None,,,,
55453,55454.0,"MULTIPOLYGON (((-42.80796 -5.06778, -42.80798 ...",None,None,VERDE3,1,None,None,None,None,...,875.271,LOTE,23.0,None,None,None,,,,
55454,55455.0,"MULTIPOLYGON (((-42.8088 -5.06737, -42.80879 -...",None,None,VERDE2,1,None,None,None,None,...,779.693,LOTE,23.0,None,None,None,,,,
55455,55456.0,"MULTIPOLYGON (((-42.80955 -5.06756, -42.80929 ...",None,None,VERDE1,1,None,None,None,None,...,1438.754,LOTE,23.0,None,None,None,,,,
55456,55457.0,"MULTIPOLYGON (((-42.80812 -5.06818, -42.80817 ...",None,None,L,10,None,07864116353,None,None,...,124.847,LOTE,23.0,None,None,None,,,,

In [29]:
# Salva novamente no banco de dados (substitui a tabela existente)
camada.to_postgis('lotes_teste', conn, schema='NUCLEOS', if_exists='replace', index=False)